__pycache__/nodeattributes.cpython-39.pyc
__pycache__/Utilities.cpython-39.pyc
__pycache__/pseudotree.cpython-39.pyc
__pycache__/variable.cpython-39.pyc
__pycache__/utilities_v2.cpython-39.pyc
__pycache__/pseudotree_v2.cpython-39.pyc
v1/__pycache__/NodeAttributes.cpython-39.pyc
.gitignore
v1/__pycache__/pseudotree.cpython-39.pyc
