__pycache__/nodeattributes.cpython-39.pyc
__pycache__/Utilities.cpython-39.pyc
__pycache__/pseudotree.cpython-39.pyc
__pycache__/pseudotree.cpython-39.pyc
__pycache__/pseudotree.cpython-39.pyc
__pycache__/pseudotree.cpython-39.pyc
